#control-panel-container {
    position: absolute;
    width: 540px;
    height: 360px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.control-button-container {
    position: absolute;
    width: 180px;
    height: 120px;
}

#forward-button-container {
    top: 0;
    left: 180px;
}

#reverse-button-container {
    bottom: 0;
    left: 180px;
}

#left-button-container {
    top: 120px;
    left: 0;
}

#right-button-container {
    top: 120px;
    right: 0;
}

#stop-button-container {
    top: 120px;
    left: 180px;
}

.control-button {
    position: absolute;
    width: 170px;
    height: 110px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 110px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 15px;
    font-family: "Helvetica";
    color: rgb(16, 16, 16);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
