@viewport {
    width: device-width;
    zoom: 1;
}

@-ms-viewport {
    width: device-width;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (min-width: 300px) {

    body {
        overflow: hidden;
        padding: 0;
        margin: 0;
        background-color: #BBB;
    }

    img {
        max-width: 35%;
        height: auto;
        position: relative;

    }

    #info {
        position: absolute;
        top: 0px;
        width: 100%;
        padding: 5px;
        text-align: center;
    }

    #info a {
        color: #66F;
        text-decoration: none;
    }

    #info a:hover {
        text-decoration: underline;
    }


    #joystickcontainer {


        width: 300px;
        margin-right: auto;
        margin-left: auto;

        height: 350px;
        background: #800000;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #800000;
        color: white;
        text-align: center;
        font-size: 8px;
    }
}


@media only screen and (min-width: 992px) {

    body {
        overflow: hidden;
        padding: 0;
        margin: 0;
        background-color: #BBB;
    }

    img {
        max-width: 20%;
        height: auto;
    }

    #info {
        position: absolute;
        top: 0px;
        width: 100%;
        padding: 5px;
        text-align: center;
    }

    #info a {
        color: #66F;
        text-decoration: none;
    }

    #info a:hover {
        text-decoration: underline;
    }

    div.GPSContainer {
        height: 150px;
        position: relative
    }

    div.GPSContainer p {
        width: 200px;
        margin: auto;
        color: white;
        background: #800000;
        position: fixed;
        bottom: 10%;
        left: 20%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    div.JoystickContainer {
        height: 150px;
        position: relative
    }

    div.JoystickContainer p {
        width: 200px;
        margin: auto;
        color: white;
        background: #800000;
        position: fixed;
        bottom: 15%;
        left: 85%;
        margin-right: 50%;
        transform: translate(-50%, -50%)
    }

    #gpscontainer {

        color: white;
        width: 400px;
        margin-right: auto;
        margin-left: auto;

        height: 400px;
        background: #800000;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #800000;
        color: white;
        text-align: center;
        font-size: 15px;
    }


}