<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/controller.css">
    </head>
    <body>
        <div id="buttons-container">
            <div class="control-button" id="forward-button" type="button">Forward</div>
            <br>
            <div class="control-button" id="left-button">Left</div>
            <div class="control-button" id="right-button">Right</div>
            <br>
            <div class="control-button" id="stop-button">Stop</div>
        </div>
    </body>
    <script type="text/javascript" src="/static/controller.js"></script>
</html>
