<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/controller.css">
    </head>
    <body>
        <div id="control-panel-container">
            <div class="control-button-container" id="forward-button-container">
                <div class="control-button" id="forward-button">Forward</div>
            </div>
            <br>
            <div class="control-button-container" id="left-button-container">
                <div class="control-button" id="left-button">Left</div>
            </div>
            <br>
            <div class="control-button-container" id="right-button-container">
                <div class="control-button" id="right-button">Right</div>
            </div>
            <br>
            <div class="control-button-container" id="stop-button-container">
                <div class="control-button" id="stop-button">Stop</div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/static/controller.js"></script>
</html>
